In [1]:
import pandas as pd
import json

In [12]:
with open('newsela_article_corpus_2016-01-29/newsela_data_share-20150302/newsela_articles_20150302.5versions.sents.json','r') as f:
    data = json.loads(f.read())

norm_train_df = pd.json_normalize(data, record_path=['articles'], meta=[['category', 'name'], 'language'], errors='ignore')
print(f"Genres: {norm_train_df['category.name'].unique()}")
norm_train_df = norm_train_df[norm_train_df['language'] == 'en']
norm_train_df = norm_train_df[norm_train_df['category.name'] == 'Health'][['grade_level', 'sentences']]
# norm_train_df['sentences'] = norm_train_df.apply(lambda row: " ".join(row['sentences']), axis=1)
norm_train_df.head()

Genres: ['War & Peace' 'Kids' 'Money' 'Science' 'Health' 'Law' 'Sports' 'Arts']

   grade_level                                          sentences
0          3.0  [American women will soon be able to fight in ...
1          5.0  [American women will soon be able to go to war...
2          6.0  [American women will soon be able to fight on ...
3          7.0  [American women will soon be free to fight on ...
4          9.0  [Wars of the future will be fought with Americ...

In [13]:
norm_train_df.to_csv("newsela_health.csv", index=False)

In [14]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(norm_train_df, test_size=0.2, random_state=42, shuffle=False)

In [16]:
train_df['grade_level']

0        3.0
1        5.0
2        6.0
3        7.0
4        9.0
        ...
4515     4.0
4516     5.0
4517     6.0
4518     8.0
4519    12.0
Name: grade_level, Length: 4520, dtype: float64